body {
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.9);
    color: white;
}

h1{
    margin: 0;
    padding-top: 30px;
}

.background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.main-container {
    width: 70%;
    margin: auto;
}

/* Start faded out with a Y offset (downwards). */

.start-faded-out {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, .58, 1);
}

.loaded {
    opacity: 1;
    transform: translateY(0px);
}

.loaded.first-loaded {
    transition-delay: 0.2s;
}

.loaded.second-loaded {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 1.2s;
}

.loaded.third-loaded {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 2.2s;
}